# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Uploaded Reports
uploads/

# Generated Reports
exports/

# Python cache
.pytest_cache/

# macOS
.DS_Store